
<div class="card">
  <div class="card-header">
    <h3 class="card-title text-center">My Farms</h3>
  </div>
  <div class="card-header">
    <a [routerLink]="['/farms/create']" class="btn btn-primary">
      <i class="fas fa-plus"></i>
      Add Farm
    </a>
    <a class="btn btn-primary" (click)="showOrders()">
      <i class="fas fa-shopping-cart"></i>
      View Orders
    </a>
  </div>

  <div class="card-body">
    <!-- show farms on cards -->
    <div class="row">
      <div class="col-md-12" *ngIf="!isLoaded">
        <div class="text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div><div class="col-md-12 mt-5" *ngIf="farms.length === 0" style="height: 200px;">
        <div class="text-center">
          <!-- some animated div to show nothing is loading -->
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <!-- show message -->
          <p class="text-muted">You have no farms</p>

        </div>
      </div>
      <div class="col-md-4" *ngFor="let farm of farms">
        <div class="card shadow">
          <div class="card-body mt-4">
            <!-- image -->
            <img src="{{ farm.image }}" class="card-img-top" alt="..." />
            <h5 class="card-title">{{ farm.name }}</h5>
            <p class="card-text">{{ farm.location }}</p>
            <a [routerLink]="['/farms', farm.id]" class="">
              <i class="fas fa-eye "></i>
            </a>
            <a [routerLink]="['/farms', farm.id, 'edit']" class="">
              <i class="fas fa-edit "></i>
            </a>
            <button class="" (click)="deleteFarm(farm.id)" href="#">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-primary w-25" *ngIf="isSuccessful">
    {{ message }}
  </div>
</div>
