.btn-primary {
  background-color: #3d826d;
  /* border to color to tranparent */
  border-color: transparent;
}

.text_warning {
  color:  #3d826d;
}
.form-control {
  border: 1px solid #3d826d;
  max-height: 40px;
  border-radius: 3px;
  min-width: 200px;
}

a{
  text-decoration: none;
}
