<!--  include the css file -->
<link rel="stylesheet" href="create-input.component.css" />
<!-- register form -->
<div class="row col-md-6 m-auto mb-5">
  <h3 class="card-title text-center text-warning mt-4">Create input Input</h3>
  <hr class="w-25 m-auto">
  <form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onsubmitCreate()"
    #f="ngForm"
    novalidate>
    <!-- name -->
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="form.name"
        required
        minlength="3"
        maxlength="50"
        #name="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && name.errors }"
        />
      <div class="invalid-feedback" *ngIf="name.errors && f.submitted">
        <div *ngIf="name.errors['required']">Name is required</div>
        <div *ngIf="name.errors['minlength']">
          name must be at least 3 characters
        </div>
        <div *ngIf="name.errors['maxlength']">
          name must be at most 20 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Description</label>
      <input
        type="text"
        class="form-control"
        name="description"
        [(ngModel)]="form.description"
        required
        minlength="3"
        maxlength="200"
        #description="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && description.errors }"
        />
    </div>
    <!-- price -->
    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        class="form-control"
        name="price"
        [(ngModel)]="form.price"
        required
        minlength="3"
        maxlength="6"
        #price="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && price.errors }"
        />
      <div class="invalid-feedback" *ngIf="price.errors && f.submitted">
        <div *ngIf="price.errors['required']">Price is required</div>
        <div *ngIf="price.errors['minlength']">
          price must be at least 3 characters
        </div>
        <div *ngIf="price.errors['maxlength']">
          price must be at most 6 characters
        </div>
      </div>
    </div>

    <!-- select input -->
    <div class="form-group">
      <label for="shop">Shop</label>
      <select
        class="form-control"
        name="shop"
        [(ngModel)]="form.shop"
        required
        #shop="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && shop.errors }"
        >
        <option *ngFor="let shop of shops" [ngValue]="shop.id">
          {{ shop.name }}
        </option>
      </select>
      <div class="invalid-feedback" *ngIf="shop.errors && f.submitted">
        <div *ngIf="shop.errors['required']">input is required</div>
      </div>
    </div>

    <!-- image -->
    <div class="form-group">
      <label for="image">Image</label>
      <input
        type="file"
        enctype="multipart/form-data"
        class="form-control"
        name="image"
        [(ngModel)]="form.image"
        required
        #image="ngModel"
        id="image"
        [ngClass]="{ 'is-invalid': f.submitted && image.errors }"
        (change)="onFileChange($event)"
        />
      <div class="invalid-feedback" *ngIf="image.errors && f.submitted">
        <div *ngIf="image.errors['required']">Image is required</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block">
        <!-- show loading if -->
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
        Create
      </button>
    </div>

    <div class="alert alert-warning" *ngIf="f.submitted && isCreatedFailed">
      input input creation failed!<br />{{ errorMessage }}
    </div>
  </form>

  <div class="alert alert-success" *ngIf="isSuccessful">
    {{ successMessage }}
  </div>
</div>

<router-outlet></router-outlet>
