
<div class="card">
  <div class="card-header">
    <h3 class="card-title text-center">My Supply Shops</h3>
  </div>
  <div class="card-body">
    <!-- show shops on cards -->
    <div class="row">
      <!-- show loading if page is loading -->
      <div class="col-md-12" *ngIf="!isLoaded">
        <div class="text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <!-- if there are no supply shops -->
      <div class="col-md-12 mt-5" *ngIf="shops.length === 0" style="height: 200px;">
        <div class="text-center">
          <!-- some animated div to show nothing is loading -->
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <!-- show message -->
          <p class="text-muted">You have no supply shops</p>

        </div>
      </div>
      <div class="col-md-4" *ngFor="let shop of shops">
        <div class="card shadow">
          <div class="card-body">
            <!-- image -->
            <img src="{{ shop.image }}" alt="shop image" class="img-fluid h-25" >
            <h5 class="card-title">{{ shop.name }}</h5>
            <p class="card-text">{{ shop.location }}</p>
            <a [routerLink]="['/shops', shop.id]" class="">
              <i class="fas fa-eye "></i>
            </a>
            <a [routerLink]="['/shops', shop.id, 'edit']" class="">
              <i class="fas fa-edit "></i>
            </a>
            <a class="" (click)="deleteshop(shop.id)">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-primary w-25" *ngIf="isSuccessful">
      {{ message }}
    </div>
  </div>
</div>
