<Section class="miri-ui-kit-section team-members-section">
  <div class="container">
    <!-- check if the user just logged in-->
    
    <!-- div to display purpose of webapp -->
    <div class="hero-content mt-5 mb-5 text-center">
      <h1 class="hero-title">Welcome to <span class="text-warning">Farmers Market</span></h1>
      <p class="hero-text">We are a platform that connects farmers to customers and suppliers</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search for products" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-warning" type="button" id="button-addon2">Search</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</Section>
<Section class="miri-ui-kit-section team-members-section">
<!-- display some farm products, agro inputs, farms and supplier shops in differerent sections -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-heading">
        <h2 class="section-title">Farm Products</h2>
        <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 raise-on-hover">
      <div class="team-member">
        <div class="team-member-image">
          <img src="../../../assets/images/Rectangle 8.png" alt="team member">
        </div>
        <div class="team-member-info">
          <h3 class="team-member-name">Green Beans</h3>
          <p class="team-member-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quae.</p>
          <div class="team-member-social">
            <a href="#" class="team-member-social-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="team-member-social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="team-member-social-link"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 raise-on-hover">
      <div class="team-member">
        <div class="team-member-image">
          <img src="../../../assets/images/Rectangle 9.png" alt="team member">
        </div>
        <div class="team-member-info">
          <h3 class="team-member-name">Tomatos</h3>
          <p class="team-member-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quae.</p>
          <div class="team-member-social">
            <a href="#" class="team-member-social-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="team-member-social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="team-member-social-link"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 raise-on-hover">
      <div class="team-member">
        <div class="team-member-image">
          <img src="../../../assets/images/Rectangle 9.png" alt="team member">
        </div>
        <div class="team-member-info">
          <h3 class="team-member-name">Njama Njama</h3>
          <p class="team-member-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quae.</p>
          <div class="team-member-social">
            <a href="#" class="team-member-social-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="team-member-social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="team-member-social-link"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-heading">
        <h2 class="section-title">Agro Inputs</h2>
        <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 raise-on-hover">
      <div class="team-member">
        <div class="team-member-image">
          <img src="../../../assets/images/Rectangle 8.png" alt="team member">
        </div>
        <div class="team-member-info">
          <h3 class="team-member-name">Affordable Hoes</h3>
          <p class="team-member-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quae.</p>
          <div class="team-member-social">
            <a href="#" class="team-member-social-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="team-member-social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="team-member-social-link"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 raise-on-hover">
      <div class="team-member">
        <div class="team-member-image">
          <img src="../../../assets/images/Rectangle 9.png" alt="team member">
        </div>
        <div class="team-member-info">
          <h3 class="team-member-name">One in a Life time fertilizers</h3>
          <p class="team-member-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quae.</p>
          <div class="team-member-social">
            <a href="#" class="team-member-social-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="team-member-social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="team-member-social-link"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 raise-on-hover">
      <div class="team-member">
        <div class="team-member-image">
          <img src="../../../assets/images/Rectangle 9.png" alt="team member">
        </div>
        <div class="team-member-info">
          <h3 class="team-member-name">Marchette</h3>
          <p class="team-member-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quae.</p>
          <div class="team-member-social">
            <a href="#" class="team-member-social-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="team-member-social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="team-member-social-link"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</Section>
<router-outlet></router-outlet>
