.btn-warning {
  background-color: #3d826d;
  /* border to color to tranparent */
  border-color: transparent;
}

.text_warning {
  color:  #3d826d;
}

.btn-primary {
  background-color: #3d826d;
  /* border to color to tranparent */
  border-color: transparent;
}

a:hover {
  cursor: pointer;
}

@media (max-width: 450px) {

  img {
    width: 400px;
    border-radius: 10px;
    height: 150px;
  }
  .col-md-2 {
    max-width: 40%;
  }

  .hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* laptop media */
@media (min-width: 768px) {

  img {
    width: 400px;
    height: 150px;
    border-radius: 10px;
  }
  .col-md-3{
    max-width: 260px;
    /* give some small space */
    margin: 0 10px;
  }

  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}


