<Section class="miri-ui-kit-section team-members-section">
  <div class="container">
    <div class="row" *ngIf="isLoggedIn()">
      <div class="col-md-12 mt-3">
        <p class="text-danger">Welcome {{ getUserName()}}! </p>
        <hr class="w-25">
      </div>

    </div>
    <div class="hero welcome">
    <div class="hero-content mt-5 mb-5 text-center card-body ">
      <h1 class="hero-title">Welcome to <span class="text_warning">Farmers
          Market</span></h1>
      <p class="hero-text">We are a platform that connects farmers to
        customers
        and suppliers</p>
    </div>

    <div class="row justify-content-center mb-4">

      <a *ngIf="checkRole('farmer')" class="btn btn-primary col-md-2 m-2"
        [routerLink]="['/farms']">View Farm</a>
      <a *ngIf="checkRole('supplier')" class="btn btn-primary col-md-2 m-2"
        [routerLink]="['/supply_shops']">View
        Shop</a>
    </div>
  </div>
    <form
      name="form"
      (ngSubmit)="f.form.valid && generalSearch()" #f="ngForm"
      novalidate
      *ngIf="!isSuccessful">

      <div class="form-row">
        <div class="col-md-7">
          <input type="text" class="form-control" placeholder="Search keyword"
            [(ngModel)]="form.searchTerm" name="searchTerm"
            id="searchTerm" #searchTerm="ngModel">
        </div>
        <div class="col-md">
          <select class="form-control" id="category"
            [(ngModel)]="form.category" name="category"
            id="category" #category="ngModel"
            (change)="generalSearch()"
            label="Category">
            <option value="all" selected>All</option>
            <option value="farm">Farm</option>
            <option value="input">Input</option>
          </select>
        </div>
        <div class="col-md">
          <button class="btn btn-warning" type="button"
            (click)="generalSearch()"
            id="button-addon2">Search</button>
        </div>
      </div>
    </form>
  </div>
</Section>
<Section class="miri-ui-kit-section team-members-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h3 class="section-title">Farm Products</h3>
          <hr>
        </div>
        <div *ngIf="isLoggedIn()">
          <div class="well well-sm">
            <a class="link mb-5 text-warning" routerLink="/create_farm">
              Create your own farm</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="products">
      <a class="card col-md-3 raise-on-hover justify-content-center
        hover-pointer mt-2"
        *ngFor="let product of
        products"
        (click)="showProductDetails(product.id)">
        <div class="team-member-image m-auto">
          <img src="{{ product.image }}" alt="team member" class="img-fluid
            mt-2">
        </div>
        <div class="team-member-info">
          <h3 class="team-member-name">{{ product.name }}</h3>
          <p class="team-member-description">{{ product.description }}</p>
          <div class="team-member-social">
            <!-- phone number -->
            <a class="team-member-social-link m-2"><i class="fas
                fa-phone text-warning "> {{ product.farmerPhone }}</i></a>
            <!-- price -->
            <a class="team-member-social-link m-2"><i class="fas
                fa-money-bill-wave text-warning"> {{ product.price }} XAF</i></a>
          </div>
        </div>
      </a>
    </div>
    <div class="row" *ngIf="products.length == 0">
      <div class="col-md-12">
        <div class="section-heading">
          <p class="section-title text-danger text-center">No products
            available</p>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h3 class="section-title">Agro Inputs</h3>
          <hr>
        </div>
        <div *ngIf="isLoggedIn()">
          <a class="link mb-5 text-warning" routerLink="/create_shop"> Create
            your own shop</a>
          <hr>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="inputs.length == 0">
      <div class="col-md-12">
        <div class="section-heading">
          <p class="section-title text-danger text-center">No farm inputs
            available</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">

      <a class="card col-md-3 raise-on-hover justify-content-center "
        *ngFor="let input of inputs"
        (click)="showInputDetails(input.id)">
        <div class="team-member-image m-auto">
          <img src="{{ input.image }}" alt="team member" class="img-fluid mt-2">
        </div>
        <div class="team-member-info">
          <h3 class="team-member-name">{{ input.name}} </h3>
          <p class="team-member-description">{{input.description}} </p>
          <div class="team-member-social">
            <!-- phone number -->
            <a class="team-member-social-link m-2"><i class="fas
                fa-phone text-warning"> {{ input.supplierPhone }}</i></a>
            <!-- price -->
            <a class="team-member-social-link m-2"><i class="fas
                fa-money-bill-wave text-warning"> {{ input.price }} XAF</i></a>
          </div>
        </div>
      </a>
    </div>
  </div>
  <hr />
</Section>
<router-outlet></router-outlet>
