<!-- product detail page -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-heading">
        <h3 class="section-title">Product Details</h3>
        <hr>
      </div>
    </div>
  </div>
  <!-- show in card -->
  <div class="card p-5 m-4">
    <!-- show in row -->
    <div class="row">
      <div class="col-md-6 border-right">
        <img src="{{ product.image }}" alt="team member" class="img-fluid">
      </div>
      <div class="col-md-6 card-body">
        <h3 class="team-member-name">{{ product.name }}</h3>
        <p class="team-member-description">{{ product.description }}</p>
        <!-- location -->
        <div class="team-member-social">
          <!-- location -->
          <a href="#" class="team-member-social-link m-2"><i class="fas fa-map-marker-alt
              text-warning"> {{ product.location }}</i></a>
        </div>
        <div class="team-member-social">
          <!-- phone number -->
          <a href="#" class="team-member-social-link m-2"><i class="fas fa-phone
              text-warning"> {{ product.farmerPhone }}</i></a>
          <!-- price -->
          <a href="#" class="team-member-social-link m-2"><i class="fas
              fa-money-bill-wave text-warning"> {{ product.price }} XAF</i></a>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <button class="btn btn-primary" (click)="placeOrder(product.id, product.farm.id)">
              <i class="fas fa-shopping-cart"></i> Place Order
            </button>
            <a class="btn btn-primary" *ngIf="!isAuthenticated()" routerLink="/login">
              <i class="fas login-icon"></i> Login to Place Order
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
