
<div class="card">
  <div class="card-header">
    <h3 class="card-title text-center">farm Products</h3>
  </div>

  <!-- if user is farmer, add create product button -->
  <div class="card-header" *ngIf="checkRole('farmer')">
    <a [routerLink]="['/products/create']" class="btn btn-primary">
      <i class="fas fa-plus"></i>
      Add Product
    </a>
  </div>
  <div class="card-body">
    <!-- show products on cards -->
    <div class="row">
      <div class="col-md-12" *ngIf="!isLoaded">
        <div class="text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-5" *ngIf="products.length === 0" style="height: 200px;">
        <div class="text-center">
          <!-- some animated div to show nothing is loading -->
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <!-- show message -->
          <p class="text-muted">No products to display</p>

        </div>
      </div>
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card shadow">
          <div class="card-body">
            <!-- image -->
            <img src="{{ product.image }}" class="card-img-top" alt="..." />
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.location }}</p>
            <a [routerLink]="['/products', product.id]" class="">
              <i class="fas fa-eye "></i>
            </a>
            <!-- if product farmer_id is equal to loggedIn user id then show edit and delete -->
            <a [routerLink]="['/products', product.id, 'edit']" class="" *ngIf="product.farmer_id === userid">
              <i class="fas fa-edit "></i>
            </a>
            <button class="" (click)="deleteProduct(product.id)" href="#" *ngIf="product.farmer_id === userid">
              <i class="fas fa-trash"></i>
            </button>
          </div>
          <!-- place order -->
          <div class="card-footer">
            <a [routerLink]="['/orders/create', product.id]" class="" *ngIf="product.farmer_id !== userid">
              <i class="fas fa-shopping-cart color-primary"></i>
            </a>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="alert alert-primary w-50" *ngIf="isSuccessful">
    {{ message }}
  </div>

  <!-- if not successful -->
  <div class="alert alert-danger w-50" *ngIf="deleteFaild">
    {{ message }}
  </div>
</div>
