
.navbar .nav-item .active{
    position: relative;
}
.navbar .nav-item .active::after{
    position: absolute;
    margin-top: 40px;
    content: "";
    background-color:#3d826d;
    width: 60px;
    height: 4px;
}
.btn-warning{
    background-color:#3d826d;
    border-color: transparent;
}

@media (max-width: 450px) {
    img {
        width: 400px;
        border-radius: 10px;
        height: 150px;
    }
    .col-md-2 {
        max-width: 40%;
    }

    .navigation{
      border-bottom-right-radius: 20px;
    }
}

@media (min-width: 768px) {

  img {
    width: 400px;
    height: 150px;
    border-radius: 10px;
  }

  .navigation{
    border-bottom-right-radius: 20px;
  }

}

@media (min-width: 992px) {

  img {
    width: 450px;
    height: 250px;
    border-radius: 10px;
  }

  .navigation{
    border-bottom-right-radius: 20px;
  }

}

.navbar-toggler-icon{
    color: antiquewhite;
    background-color: #3d826d;
}

.fa-shopping-cart:hover{
    cursor: pointer;
}
.nav-item:hover{
  cursor: pointer;
}
