
<div class="card">
  <div class="card-header">
    <h3 class="card-title text-center">Farm Inputs</h3>
  </div>

  <!-- if user is farmer, add create input button -->
  <div class="card-header" *ngIf="checkRole('farmer')">
    <a [routerLink]="['/inputs/create']" class="btn btn-primary">
      <i class="fas fa-plus"></i>
      Add Farm Input
    </a>
  </div>
  <div class="card-body">
    <!-- show inputs on cards -->
    <div class="row">
      <div class="col-md-12" *ngIf="!isLoaded">
        <div class="text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-5" *ngIf="inputs.length === 0" style="height: 200px;">
        <div class="text-center">
          <!-- some animated div to show nothing is loading -->
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <!-- show message -->
          <p class="text-muted">No farm inputs to display</p>

        </div>
      </div>
      <a class="col-md-4 hover-shadow
      "
      (click)="showInputDetails(input.id)"
      *ngFor="let input of inputs">
        <div class="card shadow">
          <div class="card-body">
            <!-- image -->
            <img src="{{ input.image }}" class="card-img-top" alt="..." />
            <h5 class="card-title">{{ input.name }}</h5>
            <p class="card-text">{{ input.location }}</p>
            <!-- show farmer phone number and input price with icons attached -->
            <div class="row">
              <div class="col-md-8">
                <p class="card-text">
                  <i class="fas fa-phone text-warning"></i>
                  {{ input.supplierPhone }}
                </p>
              </div>
              <div class="col-md-4">
                <p class="card-text">
                  <i class="fas fa-money-bill-alt text-warning"></i>
                  {{ input.price }}
                </p>
              </div>
            </div>
          </div>
          <!-- place order -->
          <div class="card-footer">
            <!-- if input farmer_id is equal to loggedIn user id then show edit and delete -->
            <a [routerLink]="['/inputs', input.id, 'edit']" class="text-warning" *ngIf="input.farmer_id === userid">
              <i class="fas fa-edit "></i>
            </a>
            <a class="" (click)="deleteinput(input.id)" href="#" *ngIf="input.farmer_id === userid">
              <i class="fas fa-trash text-danger"></i>
            </a>
          </div>

        </div>
      </a>

  </div>
  <div class="alert alert-primary w-50" *ngIf="isSuccessful">
    {{ message }}
  </div>

  <!-- if not successful -->
  <div class="alert alert-danger w-50" *ngIf="deleteFaild">
    {{ message }}
  </div>
</div>
