.btn-warning {
  background-color: #3d826d;
  /* border to color to tranparent */
  border-color: transparent;
}

.text_warning {
  color:  #3d826d;
}

.btn-primary {
  background-color: #3d826d;
  /* border to color to tranparent */
  border-color: transparent;
}

a{
  color: #3d826d;
  cursor: pointer;
}
a:hover{
  transform: translateY(-8px);
  /* slow transiation */
  transition: all 1s;
}
